<environment_context>
<cwd>{{.WorkPath}}</cwd>
<repo_root>{{.RootPath}}</repo_root>
<command>{{.Command}}</command>
<mode>{{.Mode}}</mode>
<guidance_family>{{.GuidanceFamily}}</guidance_family>
<max_model_steps>{{.MaxSteps}}</max_model_steps>
<max_tool_calls>{{.MaxToolCalls}}</max_tool_calls>
<model_output_contract>final artifact only</model_output_contract>
</environment_context>
